// Colors
color-default = #555
color-grey = #999
color-link = #258fb8
color-background = #CAE4F0
color-border = #CAE4F0 //#ddd
color-image-background = #8EC1DA
color-image-bg-middle = #AAD0E3
color-page = rgba(255,255,255,0.5)
color-link-lighten = lighten(color-link, 30%)

font-icon = FontAwesome
font-icon-path = "fonts/fontawesome-webfont"
font-icon-version = "4.0.3"

font-size = 14px
line-height = 1.6em

// Media queries
mq-mobile = "screen and (max-width: 479px)"
mq-tablet = "screen and (min-width: 480px) and (max-width: 767px)"
mq-normal = "screen and (min-width: 768px)"

// Margins
block-margin = -24px
mobile-margin = -5px

// url
cloud-url = "images/cloud.png"
